<p id="notice"><%= notice %></p>

<p>
  <strong>Of:</strong>
  <%= @list.of %>
</p>

<p>
  <strong>Visiting:</strong>
  <%= @list.visiting %>
</p>

<p>
  <strong>Companies:</strong>
  <%= @list.companies %>
</p>

<p>
  <strong>Company:</strong>
  <%= @list.company %>
</p>

<p>
  <strong>Name:</strong>
  <%= @list.name %>
</p>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
